body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background: black;
    color: aliceblue;
}

/* Canvas of JS game */
.game{
}

/* Behind-Canvas */
.border{
    height: 550px;
    width: 550px;
    border-radius: 1%;
    background-color: #578a34;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 110px;
    margin-left: -100px;
}

.apple{
    left: 135px;
}

.nav
{
    height: 150px;
    width: 550px;
    background-color: #4a752c;
    border-radius: 1%;
    margin: auto;

    left: 0;
    right: 0;
    top: 0;

    display: flex;    
}

#score
{
    position: absolute;
    font-size: 70px;
    top: 35px;
}

.hidden
{
    display: none;
}

.visible
{
    display: block;
}